---
import Layout from "../layouts/Layout.astro";
import GraphicSpecies from "../components/GraphicSpecies.astro";
import PlotFigure from "../components/PlotFigure.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
  <h1 class="text-2xl text-center my-4">Navigation Pingouins</h1>

  <select id="species">
    <option value="All">All Species</option>
    <option value="Adelie">Adelie</option>
    <option value="Chinstrap">Chinstrap</option>
    <option value="Gentoo">Gentoo</option>
  </select>
  <script>
    document.querySelector("#species")?.addEventListener("change", (evt) => {
      const value = (evt.target as HTMLSelectElement).value;
      location.hash = value ? "#" + value.toLowerCase() : "#all";
    });
  </script>

  <div class="flex overflow-x-auto snap-x snap-mandatory scroll-smooth">
    <section id="all" class="flex-shrink-0 w-full snap-center px-4">
      <h2>All Penguins</h2>
      <PlotFigure
        options={{
          marks: [
            Plot.dot(penguins, {
              x: "culmen_length_mm",
              y: "culmen_depth_mm",
              stroke: "species",
            }),
          ],
        }}
      />
    </section>
    <section id="adelie" class="flex-shrink-0 w-full snap-center px-4">
      <h2>Adelie Penguins</h2>
      <GraphicSpecies species="Adelie" />
    </section>
    <section id="chinstrap" class="flex-shrink-0 w-full snap-center px-4">
      <h2>Chinstrap Penguins</h2>
      <GraphicSpecies species="Chinstrap" />
    </section>
    <section id="gentoo" class="flex-shrink-0 w-full snap-center px-4">
      <h2>Gentoo Penguins</h2>
      <GraphicSpecies species="Gentoo" />
    </section>
  </div>
</Layout>
