---
import Header from "../components/Header.astro";
import * as Plot from "@observablehq/plot";
import PlotFigure from "../components/PlotFigure.astro";
import diamonds from "../assets/diamonds.json";
---

<Header />
<div>
  <h1>Diamonds</h1>
  <PlotFigure
    options={{
      marks: [Plot.dot(diamonds, { x: "carat", y: "color" })],
    }}
  />
</div>

<style>
    h1 {
		text-align: center;
		font-family: Arial, sans-serif;
		color: #333;
	}
</style>