<nav>
  <div>
    <a href="/">Accueil</a>
    <a href="/diamonds">Diamonds</a>
    <a href="/alphabet">Alphabet</a>
    <a href="/iframe"></a>
  </div>
</nav>

<style>
  nav {
    background-color: #090246;
    padding: 1rem;
  }

  nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>
