---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
---


  <h1 class="text-2xl">Chinstrap Penguins</h1>
    <GraphicSpecies species="Chinstrap" />

